{% extends 'base.html' %}{% load static %}
{% load bg_extras %}
{% block content %}{% load static %}

{% if count %}
<h5>Which collection you what to add</h5>
<input type="submit" onclick="submitSelection();" value="confirm"/>
<table class="table">
    <thead>
        <tr>
            <th scope="col" style="width: 100px">Cover</th>
            <th scope="col">Collection Name</th>
            <th scope="col">Game number</th>
            <th scope="col">Is favourite</th>
            <th scope="col">Select</th>
        </tr>
    </thead>

    <tbody>
    {% for collection in collections %}
        <tr>
            {% if collection.has_image %}
            <td><img src="{% static 'media/' %}{{ collection.image }}" style="height: 60px"></td>
            {% else %}
            <td><img src="{% static 'img/empty_cover.jpg' %}" style="height: 60px"></td>
            {% endif %}
            <td><a href="{% url 'collection_detail' collection.id %}">{{collection.name}}</a></td>
            <td>{{collection.game_num}}</td>
            {% if collection.is_favourite %}
            <td>Yes</td>
            {% else %}
            <td></td>
            {% endif %}
            {% if collection.is_in %}
            <td>It's in this collection</td>
            {% else %}
            <td><input name="select" type="checkbox" value="{{ collection.id }}" id="{{ collection.id }}" /></td>
            {% endif %}
    {% endfor %}
    </tbody>

</table>
<script type="text/javascript" src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
<script>
$.ajaxSetup({
    data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
});
function submitSelection() {
    var selectData = [];
    $("input[name='select']:checked").each(function(i){
        selectData[i] = $(this).val();
    });
    console.log(selectData);

    $.ajax({
        url: "{% url 'select_collection' %}",
        type: 'POST',
        dataType: "json",
        data: {
            game_id: "{{ game_id }}",
            select: selectData.toString(),
        },
        success: function (data) {
            if (data['status'] == 'success') {
                window.location.href = "{% url 'game_detail' game_id %}";
            } else {
                alert(data['message']);
            }
        },
        error: function() {
            console.log("Error: " + jqXHR.status);
        }
    });
}
</script>
{% else %}
<h5>You don't have any collection yet.</h5>
<a href="{% url 'create_collection' %}">Try to create one</a>
{% endif %}
{% endblock %}

</body>
</html>