<!doctype html> {% load static %}

<html>

<head>
  {% comment %} TODO This should be imported statically {% endcomment %}
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script>
    window.onload = function () { if (window.jQuery) { $(document).ready(function () { $(".sidebarNavigation .navbar-collapse").hide().clone().appendTo("body").removeAttr("class").addClass("sideMenu").show(); $("body").append("<div class='overlay'></div>"); $(".navbar-toggle, .navbar-toggler").on("click", function () { $(".sideMenu").addClass($(".sidebarNavigation").attr("data-sidebarClass")); $(".sideMenu, .overlay").toggleClass("open"); $(".overlay").on("click", function () { $(this).removeClass("open"); $(".sideMenu").removeClass("open") }) }); $("body").on("click", ".sideMenu.open .nav-item", function () { if (!$(this).hasClass("dropdown")) { $(".sideMenu, .overlay").toggleClass("open") } }); $(window).resize(function () { if ($(".navbar-toggler").is(":hidden")) { $(".sideMenu, .overlay").hide() } else { $(".sideMenu, .overlay").show() } }) }) } else { console.log("sidebarNavigation Requires jQuery") } }
  </script>

  <meta charset="UTF-8">

  <style>
    .my-sidebar {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        background-color: #f8f9fa; 
    } 
    
    @media (max-width: 690px) {
      .my-sidebar {
        display: none; 
      } 
    }
    </style>
  <title>
    {% block title %}
    {% comment %} {{ page_title|default:"Untitled Page" }} {% endcomment %}
    BoardGame
    {% endblock title %}
  </title>
</head>

<body>
  <h1>Welcome to BoardGame!!!</h1>
  <div class="container-fluid ">
    <div class="row">
      <div class="col my-sidebar">
      </div>
      <div class="col ">
  {% block nav %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="#" class="navbar-brand">Logo</a>
    <button class="navbar-toggler leftNavbarToggler" type="button" data-toggle="collapse"
      data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="nav navbar-nav nav-flex-icons ml-auto">
         <form method="get" action="{% url 'search' %}">{% csrf_token %}
            <input type="search" style="float: left" class = form-control id = 'q' name = 'q' placeholder="Game name, description" required>
            <button type="submit">Search</button>
        </form>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'category' %}">Game catalogue <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'my_collection' %}">My collection <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile' %}">Profile <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
  {% endblock nav %}
  
  {% block content %}

  {% endblock content %}
</div>
<div class="col my-sidebar">
</div>
  </div>
  </div>
</body>

</html>