{% extends 'base.html' %}{% load static %}
{% load bg_extras %}
{% block content %}{% load static %}
<h5>Collection name: {{ name }}</h5>
{% if is_favorite %}
    <h5>Is favourite</h5>
{% endif %}
<p><a href="{% url 'edit_collection' id %}">Edit</a></p>
{% if has_image %}
<img src="{% static 'media/' %}{{ image }}" style="height: 200px" />
{% else %}
<img src="{% static 'img/empty_cover.jpg' %}">
{% endif %}

    <table class="table">
  <thead>
    <tr>
      <th scope="col">Game Name</th>
      <th scope="col">Action</th>
    </tr>
  </thead>

  <tbody>
    {% for game in games %}

    {% comment %} <a href="{% url 'game_detail' game.id %}"> {% endcomment %}
      <tr>
      {% if game.appendage %}
        <td>Expansion <a href={% url 'game_detail'  game.id %}>{{ game.name }}</a></td>
      {% else %}
        <td><a href={% url 'game_detail'  game.id %}>{{ game.name }}</a></td>
      {% endif %}
        <td>
          <form action="/remove_from_collection/" method="post" onSubmit="return confirm('Are you sure to remove this game?');">
            {% csrf_token %}
            <input type="hidden" name="item_id" value="{{game.id}}" />
            <input type="hidden" name="collection_id" value="{{id}}" />
            <input type="submit" value="remove">
          </form>
        </td>
      </tr>

      {% endfor %}
  </tbody>

</table>

{% endblock %}

</body>
</html>