{% extends 'base.html' %}{% load static %}
{% load bg_extras %}
{% block content %}{% load static %}
<h4>Create your collection</h4>
<form enctype="multipart/form-data" id="uploadForm">{% csrf_token %}
    Collection name:
    <input type="text" name="name" id="name" value="{{ name }}"/>
    <br/>
    {% if has_image %}
    <p><img src="{% static 'media/' %}{{ image }}" style="height: 200px" /></p>
    {% else %}
    <p><img src="{% static 'img/empty_cover.jpg' %}"></p>
    {% endif %}
    Change cover:
    <input type="file" name="img" id="img">
    <br/>
    Is favourite:
    {% if is_favourite %}
    <label><input name="is_favourite" type="checkbox" value="1" checked="1" /></label>
    {% else %}
    <label><input name="is_favourite" type="checkbox" value="1" checked="0"/></label>
    {% endif %}
    <br/>
    <input type="button" value="Confirm" onclick="sumbit();"/>
</form>
<script type="text/javascript" src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
<script>
function sumbit() {
    var formData = new FormData($("#uploadForm")[0]);
    formData.append('img', $('#img')[0].files[0]);
    formData.append("id", {{ id }});
    var name = document.getElementById('name').value;

    if (name.length > 0) {
        $.ajax({
            url: "{% url 'upload_collection' %}",
            data: formData,
            type: "POST",
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function(data) {
                window.location.href = "/my_collection";
            },
            error: function() {
                console.log("Error: " + jqXHR.status);
            }
        });
    } else {
        alert("Should input collection name");
    }
}
</script>

{% endblock %}

</body>
</html>