{% extends 'base.html' %}
{% load static %}

{% block content %}
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/review-comments.css' %}">
<script>
    jQuery(document).ready(function ($) {

        $(".btnrating").on('click', (function (e) {

            var previous_value = $("#selected_rating").val();

            var selected_value = $(this).attr("data-attr");
            $("#selected_rating").val(selected_value);

            $(".selected-rating").empty();
            $(".selected-rating").html(selected_value);

            for (i = 1; i <= selected_value; ++i) {
                $("#rating-star-" + i).toggleClass('btn-warning');
                $("#rating-star-" + i).toggleClass('btn-default');
            }

            for (ix = 1; ix <= previous_value; ++ix) {
                $("#rating-star-" + ix).toggleClass('btn-warning');
                $("#rating-star-" + ix).toggleClass('btn-default');
            }

        }));
        $(document).ready(function () {
            let avgRating = {{ game.rating }}
        
            $('#avgRating').html(avgRating.toFixed(2));

            for (let i = 1; i <= Math.round(avgRating); i++) {
                $("#avg-rating-" + i).toggleClass('btn-warning');
                $("#avg-rating-" + i).toggleClass('btn-default');
                $("#avg-rating-" + i).removeClass('btn-grey');

            }

            {% for review in game.reviews %}
            {
                for (let j=1; j <= 5; j++)
                {
                    if (j <= {{ review.rating }})
                    {
                    $("#review-block-{{ review.id }}").append('<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">\
                            <i class="fa fa-star" aria-hidden="true"></i>\
                        </button>');
                    }
                    else
                    {
                        $("#review-block-{{ review.id }}").append('<button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">\
                            <i class="fa fa-star" aria-hidden="true"></i>\
                        </button>');
                    }
                } 
            }
            {% endfor %}
    });
});
</script>
<br />
<h1>{{ game.name }}</h1>{% if game.is_login %}
<a href="{% url 'add_to_collection_page' game.id %}">Add to collection</a>{% endif %}

<P><img src="{% static 'media/' %}{{ game.image }}" style="height: 200px"></P>

<h5>Creator</h5>
<P>{{ game.creator }}</P>
<h5>Rating:</h5>
<!-- Rating average -->


<h65>Average user rating</h5>
    <h3 class="bold padding-bottom-7"> <span id='avgRating'></span> <small>/ 5 <br>
            {{ game.rating_from_how_many_reviews }} reviews</small></h3>

    <button type="button" class="btn btn-default btn-grey btn-lg" aria-label="Left Align" id="avg-rating-1">
        <i class="fa fa-star" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-default btn-grey btn-lg" aria-label="Left Align" id="avg-rating-2">
        <i class="fa fa-star" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-default btn-grey btn-lg" aria-label="Left Align" id="avg-rating-3">
        <i class="fa fa-star" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-default btn-grey btn-lg" aria-label="Left Align" id="avg-rating-4">
        <i class="fa fa-star" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-default btn-grey btn-lg" aria-label="Left Align" id="avg-rating-5">
        <i class="fa fa-star" aria-hidden="true"></i>
    </button>



    {% comment %} <p>{{ game.rating }} out of 5, from {{ game.rating_from_how_many_reviews }} reviews</p>
    {% endcomment %}

    <h5>Description</h5>
    <P>{{ game.description | safe }}</P>
    {% if game.show_expension %}
    <h5>Expansion</h5>
    {% for exp in game.expension%}
    <p><a href="{% url 'game_detail' exp.id %}">{{ exp.name }}</a></p>
    {% endfor %}
    {% endif %}

    <h5>Reviews</h5>
    {% if game.reviews.count %}

    <div class="row">
        <div class="col-sm-10">
            <hr/>
            <div class="review-block">
    {% for review in game.reviews %}
    <div class="row">
        <div class="col-sm-3">{% ifequal review.user.image 'default' %}
            <img src="{% static 'img/default_portrait.jpg' %}" style="height: 128px;" class="img-rounded">{% else %}<img src="{% static 'media' %}/{{ review.user.image }}" style="height: 128px;" class="img-rounded">{% endifequal %}
            <div>{{ review.user }}</div>
            <div><small>{{ review.date }}</small></div>
            </div>
            <div class="col-sm-9">
                <div class="review-block-rate" id="review-block-{{ review.id }}">
                    
                </div>
            <div class="review-block-title">Rating: {{ review.rating }} out of 5</div>
            <div class="review-block-description"><p class="lead" style="color: #3875d7">{{ review.comment|linebreaksbr }}</p></div>
            </div>
        
    </div>
    {% endfor %}

        </div>
    </div>
    </div>
    {% else %}
    <div style="padding: 20px; margin: 10px">
        <p><i>There is no reviews yet.</i></p>
    </div>
    {% endif %}
    {% if game.is_login %}

    <div class="form-group" id="rating-ability-wrapper">
        <label class="control-label" for="rating">
            <span class="field-label-header">How would you rate this game?</span><br>
            <span class="field-label-info"></span>
            <input type="hidden" id="selected_rating" name="selected_rating" value="" required="required">
        </label>
        <h2 class="bold rating-header" style="">
            <span class="selected-rating">0</span><small> / 5</small>
        </h2>
        <button type="button" class="btnrating btn btn-default " data-attr="1" id="rating-star-1">
            <i class="fa fa-star" aria-hidden="true"></i>
        </button>
        <button type="button" class="btnrating btn btn-default " data-attr="2" id="rating-star-2">
            <i class="fa fa-star" aria-hidden="true"></i>
        </button>
        <button type="button" class="btnrating btn btn-default" data-attr="3" id="rating-star-3">
            <i class="fa fa-star" aria-hidden="true"></i>
        </button>
        <button type="button" class="btnrating btn btn-default" data-attr="4" id="rating-star-4">
            <i class="fa fa-star" aria-hidden="true"></i>
        </button>
        <button type="button" class="btnrating btn btn-default " data-attr="5" id="rating-star-5">
            <i class="fa fa-star" aria-hidden="true"></i>
        </button>
    </div>

    <p>Your review</p>
    <textarea style="height: 200px;width:50%;resize: none;" id="review"></textarea><br />
    <input type="submit" onclick="submitReviews();" /><br />

    <br /><br /><br /><br /><br />
    <script>
        $.ajaxSetup({
            data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
        });
        function submitReviews() {
            var rating = document.getElementById("selected_rating").value;
            var review = document.getElementById("review").value;

            if (review.length > 0) {
                console.log(rating);
                console.log(review);

                $.ajax({
                    url: "{% url 'add_reviews_api' %}",
                    type: 'POST',
                    dataType: "json",
                    data: {
                        game_id: {{ game.id }},
            rating: rating,
                review: review,
            },
        success: function (data) {
            if (data['status'] == 'success') {
                window.location.href = "{% url 'game_detail' game.id %}";
            } else {
                alert(data['message']);
            }
        },
        error: function() {
            console.log("Error: " + jqXHR.status);
        }
        });

    } else {
            alert("Should input something on the review box");
        }

}
    </script>

    {% endif %}

    {% endblock content %}
    </body>

    </html>