{% extends 'base.html' %}
{% load bg_extras %}
{% block content %}{% load static %}
<style>
    .wrap{
        margin:0 auto;
        width:100%;
        padding: 24px 64px;
    }
    #left{
        width:200px;
        height:500px;
        {#background: #ccffff;#}
        float: left;
    }
    #right{
        height: 500px;
        {#background: #ffcccc;#}
        margin-left:200px;
    }
</style>
<div class="wrap">
    <aside id="left">
    <p><a href="{% url 'category' %}">All</a></p>
{% for category in content.categories %}
    <p><a href="{% url 'category_id' category.id %}">{{ category.name }}</a></p>
{% endfor %}
    </aside>
    <section id="right">

<table class="table">
  <thead>
    <tr>
      <th scope="col">Game Name</th>
      <th scope="col">Rating</th>
      <th scope="col">Reviews number</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  {% if content.count %}
  <tbody>
    {% for game in content.games %}

    {% comment %} <a href="{% url 'game_detail' game.id %}"> {% endcomment %}
      <tr>
      {% if game.appendage %}
        <td><strong>Expansion</strong>  {{ game.name }}</td>
      {% else %}
        <td>{{ game.name }}</td>
      {% endif %}
        <td>{{ game.rating }}</td>
        <td>{{ game.num_reviews }}</td>
        <td>
          <a href={% url 'game_detail'  game.id %}>enter</a>
        </td>
      </tr>

      {% endfor %}
  </tbody>
  {% else %}
    <tbody>
    <tr>
        <td>There is no game</td>
    </tr>
    </tbody>
  {% endif %}

</table>
    </section>
</div>
{% endblock content %}