{% extends 'base.html' %}{% load static %}

{% block content %}

    {% if login == 0 %}
    <p><a href='{% url 'login' %}'>Login</a></p>
    {% else %}
    <p>Hi {{ content.username }} <a href='{% url 'logout_api' %}' onClick="return confirm('Are you sure to log out?');">logout</a>
        {% if content.portrait == 'default' %}
    <img src="{% static 'img/default_portrait.jpg' %}" style="width: auto; height: 32px" />
            {% else %}
    <img src="{% static 'media' %}/{{ content.portrait }}" style="width: auto; height: 32px" />
            {% endif %}
    </p>

    {% endif %}
    
    
{% endblock content %}
</body>
</html>