<!DOCTYPE html>{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>

<body>


    <!-- Login Form -->
    <div class="wrapper fadeInDown">
        <div id="formContent" method="POST">
            <h1> Boardgame login page</h1>
            <form>
                <input type="text" id="username" class="fadeIn second" name="username" placeholder="username">
                <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">

                <input type="button" class="fadeIn fourth" onclick="login();" value="Login" />
            </form>
            <!-- Register a new account-->
            <div id="formFooter">
                <a class="underlineHover" href='{% url 'register' %}'>Register</a>
            </div>

        </div>
    </div>
</body>
<script type="text/javascript" src="{% static 'js/login.js' %}"></script>
<script>
    $.ajaxSetup({
        data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
    });
</script>

</html>