{% extends 'base.html' %}{% load static %}

{% block content %}
<a href="{% url 'create_collection' %}">Create a collection</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col" style="width: 100px">Cover</th>
            <th scope="col">Collection Name</th>
            <th scope="col">Game number</th>
            <th scope="col">Is favourite</th>
            <th scope="col">Action</th>
        </tr>
    </thead>

    <tbody>
    {% for collection in collections %}
        <tr>
            {% if collection.has_image %}
            <td><img src="{% static 'media/' %}{{ collection.image }}" style="height: 60px"></td>
            {% else %}
            <td><img src="{% static 'img/empty_cover.jpg' %}" style="height: 60px"></td>
            {% endif %}
            <td><a href="{% url 'collection_detail' collection.id %}">{{collection.name}}</a></td>
            <td>{{collection.game_num}}</td>
            {% if collection.is_favourite %}
            <td>Yes</td>
            {% else %}
            <td></td>
            {% endif %}
            <td>
                <a href="{% url 'edit_collection' collection.id %}">Edit</a><br />
                <a href="{% url 'delete_collection' collection.id %}" onClick="return confirm('Are you sure to delete this collection?');">Delete</a><br />
            </td>
        </tr>
    {% endfor %}
    </tbody>

</table>

{% endblock content %}
</body>
</html>