{% extends 'base.html' %}

{% block content %}

<div  style="width:300px;">
 <form method="post" role="form" >
{% csrf_token %}
{% for field in form %}
    <label for="{{ field.auto_id }}">{{ field.label_tag }}
    {% if field.field.required %}
        <span class="required">*</span>
    {% endif %}
    </label>
    {{ field }}
{% endfor %}
 <button id='edit_profile' class="btn btn-default">Edit</button>
<button type="submit" class="btn btn-default" onClick="return confirm('Are you sure to change your password?');">Submit</button>
</form>
</div>

<script> 
$('#edit_profile').on('click', function() {
  $(".form-control").each(function(){
    $(this).prop('readonly', false);
  });
  $('#edit_profile').prop('disabled', true);
  return false;
})
</script>
{% endblock content %}
</body>
</html>