<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>
<body>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <h1>Register a new account</h1>
<form>
    <input type="text" id="username" class="fadeIn second" name="username" placeholder="username">
    <input type="password" id="password" class="fadeIn second" name="password" placeholder="password">
    <input type="password" id="confirmPassword" class="fadeIn second" name="confirm password" placeholder="Confirm Password">
    <input type="text" class="fadeIn second" id="email" name="email"placeholder="Enter email" aria-describedby="emailHelp">
    <input type="button"  class="fadeIn fourth" onclick="register();" value="Register"/>
    <p><a href='{% url 'login' %}'>Return to login</a></p>
</form>
    </div>
    </div>
</body>
<script type="text/javascript" src="{% static 'js/register.js' %}"></script>
<script>
    $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });
</script>
</html>