{% extends 'base.html' %}

{% block content %}

    {% if login == 0 %}
    <p><a href='{% url 'login' %}'>Login</a></p>
    {% else %}
    <p>Hi {{ username }} <a href='{% url 'logout_api' %}'>logout</a></p>
    {% endif %}
    {% if count > 1 %}
    <p>We have {{ count }} results.</p>
    {% elif count == 1 %}
    <p>We have 1 result.</p>
    {% else %}
    <p>We have no result.</p>
    {% endif %}

    <table class="table">
  <thead>
    <tr>
      <th scope="col">Game Name</th>
      <th scope="col">Rating</th>
      <th scope="col">Reviews number</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for game in content %}

    {% comment %} <a href="{% url 'game_detail' game.id %}"> {% endcomment %}
      <tr>
      {% if game.appendage %}
        <td><strong>Expension</strong>  {{ game.name }}</td>
      {% else %}
        <td>{{ game.name }}</td>
      {% endif %}
        <td>{{ game.rating }}</td>
        <td>{{ game.num_reviews }}</td>
        <td>
          <a href={% url 'game_detail'  game.id %}>enter</a>
        </td>
      </tr>

      {% endfor %}
  </tbody>

</table>

<script>
var searchBar = document.getElementById("q");
searchBar.value = "{{ q }}";
</script>
    
    
{% endblock content %}
</body>
</html>